.password-wrapper {
  position: relative;
  width: 90%; /* Match the width of other inputs */
  margin-bottom: 15px; /* Match the margin of other inputs */
}

/* Style the input field inside the wrapper */
.password-wrapper input[type="password"],
.password-wrapper input[type="text"] {
  /* Also style for when type is text */
  width: 100%;
  height: 45px; /* Match the height of other inputs */
  padding: 0px 10px; /* Match the padding of other inputs */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Match border */
  border-radius: 7px; /* Match border-radius */
  box-sizing: border-box;
  padding-right: 40px; /* Make space for the eye icon */
  margin: 0; /* Remove any default margin from the input itself */
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%); /* Vertically center the icon */
  cursor: pointer;
  color: #888;
  font-size: 1rem;
}

.password-wrapper .toggle-password:hover {
  color: #333;
}